<!--<div class="jumbotron text-center">
    <h1>Home Page 4 Life</h1>

    <p>{{ tagline }}</p>
</div>-->


<form action="/newMatch" method="POST">
	{{username}}
	<label for="position">Position: </label>
	<select ng-model="position" name="position">
		<option ng-repeat="pos in positions" value="{{pos}}">{{pos}}</option>
	</select><br>
	<label for="date">Date: </label>
	<input ng-model="date" name="date" type="date"><br>
	<label for="time1">Time: </label>
	<select ng-model="time1" name="time1">
		<option ng-repeat="time in times" value="{{time}}">{{time}}</option>
	</select><br>
	<input type="submit"/>
</form>