<div>
	{{username}}
	<table id="matchesTable">
		<tr>
			<th> Position </th>
			<th> Date </th>
			<th> Time </th>
			<th> Operations </th>
		</tr>
		<tr ng-repeat="myMatch in myMatches">
			<td>{{myMatch.position}}</td>
			<td>{{myMatch.date}}</td>
			<td>{{myMatch.time}}</td>
			<td>
				<button ng-click="find(myMatch)" class="button">Edit</button>
				<button ng-click="delete(myMatch._id)" class="button">Delete</button>
			</td>
		</tr>
	</table>
</div>

<form style="display: none;" id="editForm" action="/update" method="POST">
	<label>Id:</label>
	<input type="text" name="identifier" ng-model="identifier" readonly="readonly"><br>
	<label for="position">Position: </label>
	<select ng-model="position" name="position">
		<option ng-repeat="pos in positions" value="{{pos}}">{{pos}}</option>
	</select><br>
	<label for="date" >Date: </label>
	<input ng-model="date" name="date" type="date"><br>
	<label for="time1">Time: </label>
	<select ng-model="time1" name="time1">
		<option ng-repeat="time in times" value="{{time}}">{{time}}</option>
	</select><br>
	<button ng-click="edit()" class="button">Submit</button>
</form>


    <form>
        <label>User: {{username}}</label>
        <button ng-click="logout()" class="button">Logout</button>
    </form>